OPENAI_API_KEY="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"
NEXT_PUBLIC_SUPABASE_URL="https://wrevbimglixdzlcwveug.supabase.co"
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyZXZiaW1nbGl4ZHpsY3d2ZXVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTU5NTAwNCwiZXhwIjoyMDc3MTcxMDA0fQ.sTF4qGThtXjcotYJsWKg08tCOVgbnjzZPXmsNaB2XPw"
GEMINI_API_KEY="AIzaSyBJkMBV2jaP-eTIxHW4H6ZozU7_hstBZNE"
SECRET_KEY="b56bd42c29150fcef9e7a21b0838c23421be5a29e4db200e7bc89fe82007190b"
JWT_SECRET_KEY="c447fa30d0d9eac2efd50f07bd4399333e22fc3dd29dba90ed346b59efcf32dd"
DEFAULT_MODEL="gpt-4o-mini"
DEEPGRAM_API_KEY="1ea7fbd51c232ec5290b35cbb10c9341c6cda9ab"
ENVIRONMENT="production"
LLM_PROVIDER="openai"
DEBUG="false"
LOG_LEVEL="INFO"
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME="mipersonacoach@gmail.com"
SMTP_PASSWORD="zkdc ixhj irgj fvsu"
FROM_EMAIL="mipersonacoach@gmail.com"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyZXZiaW1nbGl4ZHpsY3d2ZXVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1OTUwMDQsImV4cCI6MjA3NzE3MTAwNH0.9jKPvp6zJ0O6_q9Q_L3W9nUkDYqrB16ehtTb7uqMoZQ"